<%= render 'shared/headerbar' %>
<%= stylesheet_link_tag 'adventure' %>
<div id="main" class="edit">
  <p>Adventure id: <%=@adventure.id%>
  <p>Model: <%=@model%></p>
  <p>Modelid: <%=@modelid%></p>
  <p>Field: <%=@field%></p>
  <p>Old value: <%=@old%></p>
</div>
