<%= render 'shared/headerbar' %>
<%= stylesheet_link_tag 'edit' %>
<div id="main" class="edit">
<h2>Editing <i><%=@field%></i> on <i><%=@model.title%></i></h2>
<p>Old value:</p>
<% if (@inputtype == "textarea") %>
  <textarea readonly><%=@old%></textarea>
<% elsif (@inputtype == "checkbox") %>
  <input type="checkbox" <%=(if @old then "checked" else "" end)%> readonly disabled/>
<% else %>
  <input type="<%=@inputtype%>" value="<%=@old%>" readonly disabled/>
<% end %>
<p>New value:</p>
<%= form_tag do %>
  <% if (@inputtype == "textarea") %>
    <textarea name="newvalue"></textarea>
  <% else %>
    <input type="<%=@inputtype%>" name="newvalue"/>
  <% end %>
  <input type="hidden" name="field" value="<%=@field%>" />
  <input type="hidden" name="method" value="post" />
  <input type="submit"/>
<% end %>
<a href="/Edit/Adventure/<%=@model.id%>">Back</a>
</div>
