<%= render 'shared/headerbar' %>
<%= stylesheet_link_tag 'adventure' %>
<div id="main" class="edit">
<h1>Editing adventure: <%=@adventure.title%></h1>
<p>You can:</p>
<a href="/Adventure/<%=@id%>/Edit?model=adventure">Edit the adventure</a>
<a href="/Adventure/<%=@id%>/Edit?model=stage">Edit stages</a>
<a href="/Adventure/<%=@id%>/Edit?model=pick">Edit choices</a>
<a href="/Adventure/<%=@id%>/Edit?model=image">Edit images</a>
<p>Looking for a tutorial on how to build an adventure? </p><a href="/Guide">Click here.</a>
</div>
